{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrder": [
    "^react(.*)$",
    "^[^/]+$",
    "^@mui/(.*)$",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^@types/(.*)$",
    "^[./]"
  ],
  "trailingComma": "all",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
